<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title>Corset Order Management System</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<script type="text/javascript" src="unitpngfix.js"></script>
</head>
<body>

<div id="main_container">

	<div id="header">
    <div class="logo">
    <a href="index.html"><img src="images/logo.png" width="221" height="91" alt="" title="" border="0" /></a>
    </div>
    
            <div id="menu_tab">                                     
                    <ul class="menu">
                    <li class="divider"></li>                                                                               
                         <li><a href="index.html" class="nav_selected"> home </a></li>                         
                         <li><a href="about.html" class="nav"> about us</a></li>
                         <li><a href="" class="nav"> most wanted</a></li>
                         <li><a href="" class="nav"> how to order</a></li>
                         <li><a href="contact.html" class="nav"> contact </a></li>
                    </ul>
            </div>
            
            <div class="search_tab">
            <input type="text" class="search" value="search" />
            <input type="image" src="images/search.gif" class="search_bt" />
            </div>
    
    
    </div>
    
 
            
            
    <div id="main_content">
    
      <div class="left_sidebar">
         
        <div id="left_menu">
            <ul>
            <li><a href="categories.html">beauty</a></li>
             <li><a href="categories.html">current ranges</a></li>
             <li><a href="categories.html">classic ranges</a></li>
             <li><a href="categories.html">accessories</a></li>
             <li class="selected"><a href="categories.html">swimwear</a></li>
             <li><a href="categories.html">classic ranges</a></li>
             <li><a href="categories.html">accessories</a></li>
             <li><a href="categories.html">swimwear</a></li>
            </ul>
        </div>
        
        <div class="submenu_pic">
        <img src="images/submenu_pic.gif" alt="" title="" />
        </div>
        
        
     </div>
        
        
        <div id="center_content">
        
        <div class="title"><img src="images/lates_products_title.gif" alt="" title="" /></div>
        
		<div class="product_box">
        <img src="images/p1.gif" alt="" title="" class="prod_image" />
        <div class="product_details">
        	<div class="prod_title">Banded Red Polka Bikini.</div>
            <p>
            This cute red and white polka dotted bikini features a banded halter top and matching bottom with tie sides.
            </p>
            <p class="price">Price: <span class="price">82.90 $</span></p>
            <a href="details.html" class="details"><img src="images/details.gif" alt="" title="" border="0"/></a>
        </div>
        </div>
        
		<div class="product_box">
        <img src="images/p2.gif" alt="" title="" class="prod_image"/>
        <div class="product_details">
        	<div class="prod_title">Banded Red Polka Bikini.</div>
            <p>
            This cute red and white polka dotted bikini features a banded halter top and matching bottom with tie sides.
            </p>
            <p class="price">Price: <span class="price">33.90 $</span></p>
            <a href="details.html" class="details"><img src="images/details.gif" alt="" title="" border="0"/></a>
        </div>        
        </div>        
        
        
        <div class="title"><img src="images/shop_title.gif" alt="" title="" /></div>  
        
        <p class="shop_by_brand">
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p> 
        <a href="#"><img src="images/sp1.gif" alt="" title="" class="sp" border="0"/></a> 
        <a href="#"><img src="images/sp2.gif" alt="" title="" class="sp" border="0"/></a>  
        <a href="#"><img src="images/sp3.gif" alt="" title="" class="sp" border="0"/> </a>   
        
        
        <div class="title"><img src="images/center_divider.gif" alt="" title="" /></div> 
        <div class="title"><img src="images/gift_title.gif" alt="" title="" /></div> 
        
        <a href="#"><img src="images/gift1.gif" alt="" title="" class="gift"/></a>
        <a href="#"><img src="images/gift2.gif" alt="" title="" class="gift"/></a>
        <a href="#"><img src="images/gift3.gif" alt="" title="" class="gift"/></a>
        <a href="#"><img src="images/gift4.gif" alt="" title="" class="gift"/></a>
        
       <p class="gifts_details">
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        </p> 
        
        
        </div>
    
<div class="clear"></div>
        
           
    <div id="footer">
    <div class="left_foter"><img src="images/footer_logo.gif" alt="" title="" /></div>
    <div class="center_footer">
    <a href="#">Shipping Terms</a> | <a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a>
    <br /> By <a href="http://csscreme.com/freecsstemplates/" title="free css templates" style="color:#9e1c50;">csscreme</a>
    </div>
    </div>
    
    </div>

</div>
</body>
</html>